<div class="article-dashang">
  <span>如果您觉得文章不错,可以请我喝一杯咖啡！</span><br/>
  <a id="btn_donate" class="btn_donate" target="_self" href="javascript:;" title="Donate 打赏"></a>
  <div id="dim-codes" hidden="hidden">
    <ul class="img_box_ul">
      <li><img src="/css/images/weixin.png" /></li>
      <li><img src="/css/images/zhifubao.png" /></li>
    </ul>
  </div>
</div>
<script type="text/javascript">
    $('#btn_donate').click(function(){
      $('#dim-codes').toggle(300);
    })
</script>
