<% if (typeof(script) !== 'undefined' && script) { %>
    
<% } else { %>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script src="/js/md5.min.js"></script>
    <div id="gitalk-container"></div>
    <script>
        var gitalk = new Gitalk({
          clientID: '268be44c555ad2a36b32',
          clientSecret: '9cf79c6df51e0753755f03afea7be813f3371d91',
          repo: 'EdisonXu.github.io',
          owner: 'EdisonXu',
          admin: ['EdisonXu'],
          id: md5(window.location.pathname),
          distractionFreeMode: true
        })

        gitalk.render('gitalk-container')
    </script>
<% } %>
