<div class="widget-wrap">
        <h3 class="widget-title">公告</h3>
        <div class="widget">
            <div class="card-front animated col s12 m12 l8 offset-l2 fadeInUp">
                <p class="board">
                    您好，您是第<span id="busuanzi_value_site_uv"></span>位访客<br>
                    QQ：228831793<br>
                    微信：fei158383<br>
                    邮箱：edisonxu@outlook.com<br><br>
                    欢迎交流与分享经验!</p>
            </div>
        </div>
    </div>
